body {
    font-family: 'Cormorant Garamond', serif;
    margin: auto;
    text-align: center;
    padding: 25px;
}

header {
    font-family: 'Cormorant Garamond', serif;
    font-size: large;
    color: dimgray;
    margin-bottom: 25px;    
}

h3 {
    text-align: center;
    color: dimgray;
    padding: 50px;
}

#full {
    text-align: center;
    margin-top: 50px;
    color: darkgray;
}

.class {
    margin-top: 50px;
}

p {
    margin: auto;
    text-align: left;
    padding: 10px;  
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: dimgray;
    padding: 20px;
    background-color: #f5f5f5;
    margin-top: 20px;
    font-family: 'Cormorant Garamond', serif;
}

.footerText {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

  @media (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }